:root {
    font-size: 1.2vw !important;
}
body{
    width: 100vw;
    margin:auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: start;
    height: 100vh !important;
    font-family: "Inter", sans-serif;
    font-size: 0.825rem;
}
header{
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
nav{
    display: flex;
    width: 100%;
    flex-wrap:wrap; /*add by Ro*/
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-start;
    color:rgb(132 133 135);
} 
#nav_icons{
    margin-left: auto;
    margin-right: 3%;
}
#nav_icons img{
    width: 1.5rem;
    margin: 0.2rem 0.4rem;
}
.nav_entries_selected{
    color:rgb(26 115 233);
    font-weight: 600;
}

/*menu*/
#menu_list{
    display: none;
}
  
input:checked ~ #menu_list{
    display:block;
}
  
input {
    display: none;
}
label {
    box-sizing: border-box;
    display: inline-block;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

#nav_logo_img{
    height: 2rem;
    margin: 0 1rem;
    padding: 0.2rem;
}
ul{
    list-style-type: none;
    display: flex;
    margin: 1% 0;
    align-items: center;
}
li{
    margin:0 2%;
    white-space: nowrap;
}
main{
    display: flex;
    justify-content: space-around;
    width: 98%;
    margin-top:1.5rem;
}
#section_images{
    width: 60%;
}
#back_button{
    display: flex;
    align-items: center;
    margin-left: 2%;
    color:rgb(132 133 135);
}
.back_arrow{
    margin: 1%;
    width: 1rem;
}
#pop_images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#pop_images img{
    border-radius:10%;   
    width: 80%;
}
#pop_images .image_container{
    border-radius:80%; 
    height: 3rem;
    border: 0.01rem solid #000000;
}
.pop_image{
    margin:30% 0;
}

/*liam down*/
#section_product{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #202124;
    margin-bottom: 0.5rem;
}
#product p {
    font-size: 0.875rem;
    color:rgb(132 133 135);
    margin: 0.5rem 0;
}
#product #product_price{
    font-size: 1.1rem;
    font-weight: 700;
    color: #202124;
}
.separator{
    margin: 1.5rem 0;
    height: 0.01rem;
    background-color: #202124;
    border:none;

}
#colors {
    display: flex;
    justify-content: flex-start;
    gap: 0.8rem;
}
.color {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.1rem solid rgb(132 133 135);
    transition: transform 0.2s;
    cursor: pointer;
}
.color:hover {
    transform: scale(1.1);
}
.color.blue {
    background-color: #9ec6ea;
}
.color.cream {
    background-color: #e6e3df;
}

.color.dark_grey {
    background-color: #4b4b4d;
}
.color.grey {
    background-color: #d2d7da;
}

.color.green_swamp {
    background-color: #dfe5b7;
}
.color.peach {
    background-color: #e18472;
}
.product_cart {    
    background-color: rgb(248 249 251);
    border-radius: 2%;
    margin-top: 3rem;
}  
.price {
    font-size: 2rem;;
    font-weight: bold;
    color: #000;
    margin: 0;
    text-align: left;
}  
.quantity_selector {
    width: 20%;
    min-width: 30px;
    height: 3rem;
    border-radius: 10%;
    text-align: center;
    font-size: 0.7rem;
}
.add_to_cart {
    background-color: rgb(26 115 233);
    color: white;
    font-size: 0.875rem;
    font-weight: bold;
    border: 0.1rem solid rgb(26 115 233);
    border-radius: 5%;
    cursor: pointer;
    height: 3rem;
    width: 75%;
}
.add_to_cart:hover {
    background-color: #135ab9;
}
.selector_container{    
    padding: 2rem 1rem;
}
.delivery_info {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 800;
    color:rgb(132 133 135);
}  
.delivery_info span {
    color: rgb(26 115 233);
    font-weight: bold;
}
.delivery_info img {
    width: 1.6rem;
}
#truck_icon{
    margin: 2%;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-size: 0.6rem;
    color:rgb(132 133 135);
    background-color: rgb(248 249 251);
    margin-top:auto;
}
#footer_icons{
    display: flex;
    margin: 0.3rem 0;
    align-items: center;
}
#footer_entries li{
    margin:0 2rem;
}
footer img{
    width: 1rem;
    margin: 0 0.4rem;
}
@media (orientation:portrait) and (max-width:480px){
    :root{
        font-size: 1.2vh !important;
    }
    .none_mobile{
        display:none;
    }
    main{
        align-items: center;
    }
    body, header, main, #section_images, footer{
        width: 100vw !important;
    }
    #section_product{
        width: 90%;
    }
    body, main, footer, ul{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #nav_icons img{
        width: 2rem;
        margin: 0.2rem 1rem;
    }    
    #nav_logo_img{
        height: 3rem;
        margin: 0 1rem;
        padding: 0.2rem;
    }
    .product_cart{
        margin-top:2rem;
    }
    .selector_container{
        display: flex;
        flex-direction: column; 
        padding: 2rem 1rem 0 1rem;
    } 
    .add_to_cart {
        width: 90%;
    }
    #footer_icons img{
        width: 1.8rem;
    }    
    ul{
        padding: 0;
    
    }

@media (orientation:landscape)and (max-width:480px){
    :root {
        font-size: 1.2vw !important;
    }
}
@media (min-width:481px){
    :root {
        font-size: 1.2vw !important;
    }
}}